[scenario]
	id=05_defiance
	name = _ "Defiance"
	map_data="{~add-ons/Order_of_Oerbrae/maps/05_defiance.map}"
	next_scenario=06_ildenfjell
	random_start_time=no
	turns=22
	allow_new_game=yes
	force_lock_settings=yes
	victory_when_enemies_defeated=yes

	{DEFAULT_SCHEDULE}
	{DEFAULT_MUSIC_PLAYLIST}

## Objectives

	[event]
		name=prestart
		[objectives]
			side=0
			[objective]
				description= _ "Kill Gunnarr"
				condition=win
			[/objective]
			{OBJ_DEATH_PLAYERS}
            {OBJ_DEATH_RIG ()}
			{OBJ_TURNS}
		[/objectives]
	[/event]

## Sides

	{PLAYER_ONE_SIDE (
#ifdef MULTIPLAYER
		{GOLD 100 80 60}
#else
		{GOLD 50 40 30}
#endif
	)}

	{PLAYER_TWO_SIDE (
		{GOLD 50 40 30}
	)}

	{AI_SIDE "OERB Gungir" "Gunnarr" 3 (
		canrecruit=yes
		recruit=OERB Bondi,OERB Fana Cultivate,OERB Plyndrer,OERB Eirson
		team_name=Gunnarr
		allow_player=no
		hidden=yes
        profile=portraits/gunnarr.png
		{GOLD 60 80 100}
		{INCOME 3 6 9}
		[unit]
			type=OERB Mjollnir
		[/unit]
		[unit]
			type=OERB Jor
		[/unit]
		[unit]
			type=OERB Jarl
		[/unit]
		[unit]
			type=OERB Carl
		[/unit]
	)}

	{AI_SIDE "Walking Corpse" "Corpse" 4 (
		allow_player=no
		hidden=yes
        [ai]
            leader_ignores_keep=yes
            village_value=0
        [/ai]
	)}

	# Corpses will ignore villages
    [event]
        name=prestart
        [modify_ai]
            side=4
            action=delete
            path=stage[main_loop].candidate_action[villages]
        [/modify_ai]
    [/event]

## Singleplayer/multiplayer setup

	[event]
		name=prestart
		[recall]
			id=Laeka
		[/recall]
		[recall]
			id=Rig
		[/recall]
	[/event]

## Opening scenes

	[event]
		name=start
		[message]
			speaker=Gunnarr
			message = _ "Argh!"
		[/message]
		[message]
			speaker=Rig
			message = _ "..."
		[/message]
	[/event]

## Events

	{DEATH_PLAYERS}
	{DEATH_RIG}
	{STARTING_VILLAGES_AREA 3 24 11 6}

    # Walking corpses arrive
    [event]
        name=side 1 turn 7
        {UNIT 4 "Soulless" 30 4 (id=corpse)}
        [message]
            speaker=Aowyn
            message = _ "What... what is that creature?"
        [/message]
        [scroll_to]
            x=30
            y=4
        [/scroll_to]
		[delay]
			time=2000
		[/delay]
        [message]
            speaker=corpse
            message = _ "Ugghh... Mmmhh..."
        [/message]
        [message]
            speaker=Rig
            message = _ "Have you no seen a returner before?"
        [/message]
        [message]
            speaker=Aowyn
            message = _ "Is this the living dead?"
        [/message]
        [message]
            speaker=Rig
            message = _ "Oh they are dead alright, but very dangerous. You'll want to keep your head about you."
        [/message]
        [message]
            speaker=Aowyn
            message = _ "I thought they were skeletons... etc. etc."
        [/message]
    [/event]

    [event]
        name=side 1 turn 11
        {UNIT 4 "Walking Corpse" 30 8 ()}
        [message]
            speaker=Laeka
            message = _ "Another one of the dead is coming this way!"
        [/message]
        [scroll_to]
            x=30
            y=8
        [/scroll_to]
		[delay]
			time=2000
		[/delay]
        [message]
            speaker=Rig
            message = _ "..."
        [/message]
    [/event]

    [event]
        name=side 1 turn 13
        {UNIT 4 "Soulless" 30 11 ()}
        [message]
            speaker=Aowyn
            message = _ "They keep coming!"
        [/message]
        [scroll_to]
            x=30
            y=11
        [/scroll_to]
		[delay]
			time=2000
		[/delay]
        [message]
            speaker=Laeka
            message = _ "..."
        [/message]
    [/event]

    [event]
        name=side 1 turn 18
        {UNIT 4 "Walking Corpse" 30 7 ()}
        [message]
            speaker=Laeka
            message = _ "There's another one!"
        [/message]
        [scroll_to]
            x=30
            y=7
        [/scroll_to]
		[delay]
			time=2000
		[/delay]
        [message]
            speaker=Laeka
            message = _ "..."
        [/message]
    [/event]

	# First walking corpse is killed
	[event]
		name=die
		[filter]
			type=Walking Corpse,Soulless
		[/filter]
		[message]
			speaker=second_unit
			message = _ "Ugh! All this loose flesh makes me sick. Cannae the man be let alone to return to the land once he's away with the dead!"
		[/message]
	[/event]

	# Victory: enemy leader killed
	[event]
		name=die
		[filter]
			id=Gunnarr
		[/filter]
		[message]
			speaker=Aowyn
			message = _ "We won!"
		[/message]
		[message]
			speaker=Aowyn
			message = _ "... dialogue about corpses... someone's not left the dark magic behind..."
		[/message]
		[endlevel]
			carryover_percentage=40
			carryover_add=yes
			result=victory
		[/endlevel]
	[/event]

[/scenario]