[scenario]
	id=05_defiance
	name = _ "Defiance"
	map_data="{~add-ons/Order_of_Oerbrae/maps/05_defiance.map}"
	next_scenario=06_ildenfjell
	random_start_time=no
	turns=22
	allow_new_game=yes
	force_lock_settings=yes
	victory_when_enemies_defeated=yes

	{DEFAULT_SCHEDULE}
	{DEFAULT_MUSIC_PLAYLIST}

## Objectives

	[event]
		name=prestart
		[objectives]
			side=0
			[objective]
				description= _ "Kill Gunnarr"
				condition=win
			[/objective]
			{OBJ_DEATH_PLAYERS}
            {OBJ_DEATH_RIG ()}
			{OBJ_TURNS}
		[/objectives]
	[/event]

## Sides

	{PLAYER_ONE_SIDE (
#ifdef MULTIPLAYER
		{GOLD 50 40 30}
#else
		{GOLD 100 80 60}
#endif
	)}

	{PLAYER_TWO_SIDE (
		{GOLD 50 40 30}
	)}

	{AI_SIDE "OERB Gungir" "Gunnarr" 3 (
		canrecruit=yes
		recruit=OERB Bondi,OERB Fana Cultivate,OERB Plyndrer,OERB Eirson
		team_name=Gunnarr
		allow_player=no
		hidden=yes
        profile=portraits/gunnarr.png
		{GOLD 80 100 120}
		{INCOME 3 6 9}
		[unit]
			type=OERB Mjollnir
		[/unit]
		[unit]
			type=OERB Jor
		[/unit]
		[unit]
			type=OERB Jarl
		[/unit]
		[unit]
			type=OERB Carl
		[/unit]
	)}

	{AI_SIDE "Walking Corpse" "Corpse" 4 (
		allow_player=no
		hidden=yes
        [ai]
            leader_ignores_keep=yes
            village_value=0
        [/ai]
	)}

	# Corpses will ignore villages
    [event]
        name=prestart
        [modify_ai]
            side=4
            action=delete
            path=stage[main_loop].candidate_action[villages]
        [/modify_ai]
    [/event]

## Singleplayer/multiplayer setup

	[event]
		name=prestart
		[recall]
			id=Laeka
		[/recall]
		[recall]
			id=Rig
		[/recall]
		[recall]
			id=Cánë-ramian
		[/recall]

		# Add the second keep
#ifdef MULTIPLAYER
		[terrain]
			x=2
			y=8
			layer=both
			terrain=Kea
		[/terrain]
#endif
	[/event]
	{STARTING_VILLAGES 1 3}
#ifdef MULTIPLAYER
	{STARTING_VILLAGES 2 1}
#endif
	{STARTING_VILLAGES 3 2}

## Opening scenes

	[story]
		[part]
			show_title=no
			story= _ "Once the heat of battle had cooled, Aowyn and Laeka were guided to the chief's hut, set down beside a warm fire and fed. Safe from the winds outside, Rig began to tell the story of the clerics."
		[/part]
		[part]
			show_title=no
			story= _ "Rig: <span style='italic'>The white robes started coming to the Mørkland when I was a wee lad. Always they were asking about the Oerbrae, these old stone monuments that lie all about up here. No one knows what they are or why they're here. But these clerics paid well for any shards with a runic inscription. Many of my kin grew rich in silver and steel.</span>"
		[/part]
		[part]
			show_title=no
			story= _ "Rig: <span style='italic'>Then one day they paid a big clan to take them o'er to Ildenfjell, our sacred burial ground in the east. We never saw them again, but we knew they were still about. The dead we left to return to the ground would wander back into our villages. The clouds over Ildenfjell grew thicker every year. And then the horde came! We only had to fight the strays that wandered west, but the land was scoured wherever the returners went.</span>"
		[/part]
		[part]
			show_title=no
			story= _ "Rig: <span style='italic'>When Nivyan came to us, we learned of the awful fight in the south and understood our part in it. We wanted to leave things alone, but Nivyan insisted on going east. He said it'd all happen again if we didn't dig out the roots. He didn't want the clerics to know he was still chasing them, so a small group from the clan took him east and we were sworn to secrecy. But they never returned.</span>"
		[/part]
		[part]
			show_title=no
			story= _ "When Rig had finished, it was agreed that they would go to Ildenfjell with a large company of fighters to learn the fate of Nivyan and put an end to the Order. The barrels were tapped and songs were sung. In the heat of the crowded hut, noisy with drink and laughter, Aowyn sat and watched the room. She had never felt more alone."
		[/part]
	[/story]

	[event]
		name=start
		[message]
			speaker=Gunnarr
			message = _ "Seize them!"
		[/message]
		[message]
			speaker=Rig
			message = _ "What's the meaning of this Gunnarr?"
		[/message]
		[message]
			speaker=Gunnarr
			message = _ "Step aside Rig! If there's a bounty out on a white robe then we'll be the ones to collect it."
		[/message]
		[message]
			speaker=Rig
			message = _ "We travel under the protection of Kolr's kin. Do ye want to start a feud?"
		[/message]
		[message]
			speaker=Gunnarr
			message = _ "Kolr's a fool for trusting them and yer a fool for following him!"
		[/message]
		[message]
			speaker=Aowyn
			message = _ "Is there another route?"
		[/message]
		[message]
			speaker=Rig
			message = _ "Only one that would take us further into Gunnarr's land. Even if there were another path, we can not let his challenge go unanswered."
		[/message]
		[message]
			speaker=Laeka
			message = _ "He has chosen a tight spot to ambush us!"
		[/message]
		[message]
			speaker=Rig
			message = _ "Gunnarr's clan is as strong as an orc and as dumb as one too. Try to lure them into the river where they'll be easier to cut down."
		[/message]
	[/event]

## Events

	{DEATH_PLAYERS}
	{DEATH_RIG (
		[endlevel]
			result=defeat
		[/endlevel]
	)}
	{STARTING_VILLAGES_AREA 3 24 11 6}

    # Walking corpses arrive
    [event]
        name=side 1 turn 7
        {UNIT 4 "Soulless" 30 17 (id=corpse)}
        [message]
            speaker=Aowyn
            message = _ "What... what is that creature?"
        [/message]
        [message]
            speaker=corpse
            message = _ "Ugghh... Mmmhh..."
        [/message]
        [message]
            speaker=Rig
            message = _ "You've not seen a returner before?"
        [/message]
        [message]
            speaker=Aowyn
            message = _ "Is this the living dead?"
        [/message]
        [message]
            speaker=Rig
            message = _ "Oh they are dead alright, but very dangerous. You'll want to keep your head about you."
        [/message]
        [message]
            speaker=Aowyn
            message = _ "I thought they were nothing but rags and bones?"
        [/message]
        [message]
            speaker=Rig
            message = _ "This one mustn't have lain for long before he was raised."
        [/message]
    [/event]

    [event]
        name=side 1 turn 11
        {UNIT 4 "Walking Corpse" 30 11 ()}
        [message]
            speaker=Laeka
            message = _ "Another one of the dead is coming this way!"
        [/message]
        [scroll_to]
            x=30
            y=8
        [/scroll_to]
		[delay]
			time=2000
		[/delay]
        [message]
            speaker=Rig
            message = _ "They're coming from Ildenfjell."
        [/message]
    [/event]

    [event]
        name=side 1 turn 13
        {UNIT 4 "Soulless" 30 17 ()}
        [message]
            speaker=Aowyn
            message = _ "They keep coming!"
        [/message]
        [scroll_to]
            x=30
            y=11
        [/scroll_to]
		[delay]
			time=2000
		[/delay]
        [message]
            speaker=Laeka
            message = _ "Keep your wits, Wyn. They seem to be drifting through in ones and twos."
        [/message]
    [/event]

    [event]
        name=side 1 turn 18
        {UNIT 4 "Walking Corpse" 30 14 ()}
        [message]
            speaker=Laeka
            message = _ "There's another one!"
        [/message]
        [scroll_to]
            x=30
            y=7
        [/scroll_to]
		[delay]
			time=2000
		[/delay]
        [message]
            speaker=Aowyn
            message = _ "They don't seem to be under anyone's control."
        [/message]
    [/event]

	# First walking corpse is killed
	[event]
		name=die
		[filter]
			type=Walking Corpse,Soulless
		[/filter]
		[message]
			speaker=second_unit
			message = _ "All this loose flesh makes me sick. Can't a man be left alone to return to the land once he's away with the dead!"
		[/message]
	[/event]

	# Victory: enemy leader killed
	[event]
		name=last breath
		[filter]
			id=Gunnarr
		[/filter]
		[message]
			speaker=Gunnarr
			message = _ "My kin will avenge me!"
		[/message]
	[/event]

	[event]
		name=die
		[filter]
			id=Gunnarr
		[/filter]
		[message]
			speaker=Aowyn
			message = _ "Have we brought further dangers to your clan, Rig?"
		[/message]
		[message]
			speaker=Rig
			message = _ "Don't worry over the worthless feuds of the Vaeringjar. Besides, we are not far from Ildenfjell now."
		[/message]
		[endlevel]
			carryover_percentage=40
			carryover_add=yes
			result=victory
		[/endlevel]
	[/event]

[/scenario]