#define RELEASE_CAPTIVE UNIT_ID UNIT_TYPE SIDE X Y UNIT_WML WML
    [event]
        name=moveto
		[filter]
			side=1,2
			x={X}
			y={Y}
			radius=1
		[/filter]
        [set_variable]
            name=captives_rescued
            add=1
        [/set_variable]
        {REMOVE_IMAGE {X} {Y}}
#ifdef MULTIPLAYER
        {UNIT {SIDE} {UNIT_TYPE} {X} {Y} (
            id={UNIT_ID}
            name={UNIT_ID}
            upkeep=loyal
            {UNIT_WML}
        )}
#else
        {UNIT 1 {UNIT_TYPE} {X} {Y} (
            id={UNIT_ID}
            name={UNIT_ID}
            upkeep=loyal
            {UNIT_WML}
        )}
#endif
        {WML}
        [if]
            [have_unit]
                side=3,4
            [/have_unit]
            [or]
                [variable]
                    name=captives_rescued
                    less_than=3
                [/variable]
            [/or]
            [then]
                [show_objectives][/show_objectives]
            [/then]
            [else]
                [fire_event]
                    name=win_dialogue
                [/fire_event]
            [/else]
        [/if]
    [/event]
#enddef
