#define OBJ_DEATH_PLAYERS
	[objective]
		description= _ "Death of Aowyn"
		condition=lose
	[/objective]
	[objective]
		description= _ "Death of Laeka"
		condition=lose
	[/objective]
#enddef

#define OBJ_TURNS
	[objective]
		description= _ "Turns run out"
		condition=lose
	[/objective]
#enddef

#define OBJ_DEATH_MOR WML
	[objective]
		description= _ "Death of Mór"
		condition=lose
		{WML}
	[/objective]
#enddef

#define OBJ_DEATH_RIATA
	[objective]
		description= _ "Death of Riata"
		condition=lose
	[/objective]
#enddef

#define DEATH_PLAYERS
[event]
	name=die
	[filter]
		id=Aowyn,Laeka
	[/filter]
	[message]
		speaker=unit
		message = _ "I have failed!"
	[/message]
	[endlevel]
		result=defeat
	[/endlevel]
[/event]
#enddef

#define DEATH_MOR WML
[event]
	name=die
	[filter]
		id=Mór
	[/filter]
	[message]
		speaker=Mór
		message = _ "They got me!"
	[/message]
	{WML}
[/event]
#enddef

#define UNITS_IN_PLACE UNITS UNIT_COUNT X Y RADIUS WML
[event]
	name=moveto
	first_time_only=yes
	[filter]
		id={UNITS}
	[/filter]
	[filter_condition]
		[have_unit]
			id={UNITS}
			count={UNIT_COUNT}
			[filter_location]
				x={X}
				y={Y}
				radius={RADIUS}
			[/filter_location]
		[/have_unit]
	[/filter_condition]
	{WML}
[/event]
#enddef