#define BOT_SCOUT_PROPERTIES
	alignment=neutral
	race=human
	movement=7
	movement_type=smallfoot
	usage=mixed fighter
	undead_variation=archer
	die_sound={SOUND_LIST:HUMAN_DIE}
	[portrait]
		size=400
		side="left"
		mirror="false"
		image="portraits/humans/ranger.png"
	[/portrait]
	[portrait]
		size=400
		side="right"
		mirror="true"
		image="portraits/humans/ranger.png"
	[/portrait]
	[defense]
		swamp_water=60
		forest=40
		hills=40
		shallow_water=60
		reef=60
		cave=50
		frozen=60
		mountains=40
		sand=50
	[/defense]
	[movement_costs]
		shallow_water=2
		swamp_water=1
		forest=1
		hills=1
		mountains=2
		cave=1
		frozen=1
		sand=1
	[/movement_costs]
	[resistance]
		blade=100
		pierce=100
		impact=100
		arcane=80
		cold=100
		fire=100
	[/resistance]
#enddef