## Custom terrains for city map in scenario 1

# City buildings (not villages)
[terrain_type]
    symbol_image=village/human-city-tile
    icon_image=symbols/terrain_type_village
    id=oerb_city_building
    name= _ "City Building"
    editor_name= _ "City Building"
    string=^Tscb
    aliasof=_bas, Vt
    mvt_alias=Xt
    default_base=Rr
    editor_group=OERB
[/terrain_type]

{NEW:VILLAGE_TOD *^Tscb village/human-city}

# Safe houses (not villages)
[terrain_type]
    symbol_image=village/swampwater-tile
    icon_image=symbols/terrain_type_village
    id=oerb_house_safe
    name= _ "Safe House"
    editor_name= _ "Safe House"
    string=^Tssh
    aliasof=_bas, Vt
    default_base=Ss
    editor_group=OERB
[/terrain_type]

{NEW:VILLAGE_TOD *^Tssh village/swampwater}

# Farming houses (not villages)
[terrain_type]
    symbol_image=village/human-tile
    icon_image=symbols/terrain_type_village
    id=oerb_house_farm
    name= _ "Farm House"
    editor_name= _ "Farm House"
    string=^Tsfh
    aliasof=_bas, Vt
    mvt_alias=Xt
    default_base=Gs
    editor_group=OERB
[/terrain_type]

{NEW:VILLAGE_TOD *^Tsfh village/human}

# Military Camp (not villages)
[terrain_type]
    symbol_image=village/log-cabin-tile
    icon_image=symbols/terrain_type_village
    id=oerb_military_house
    name= _ "Military Camp"
    editor_name= _ "Military Camp"
    string=^Tsmh
    aliasof=_bas, Vt
    mvt_alias=Xt
    default_base=Gs
    editor_group=OERB
[/terrain_type]

{NEW:VILLAGE_TOD *^Tsmh village/log-cabin}

# Barracks (not a keep)
[terrain_type]
    symbol_image=castle/encampment/tall-keep-tile
    icon_image=symbols/terrain_type_village
    id=oerb_barracks
    name= _ "Barracks"
    editor_name= _ "Barracks"
    string=Tsb
    aliasof=Ct
    mvt_alias=Xt
    unit_height_adjust=17
    recruit_from=no
    recruit_onto=no
    editor_group=OERB
[/terrain_type]

{NEW:BASE Tsb interior/wood-tan LAYER=-2}
{NEW:OVERLAY Tsb interior/wood-tan-debris}
{NEW:CASTLEWALL2 Tsb (C*) (!,C*,Tsb,Xu*,Xo*) castle/encampment/tall-keep-castle}
{NEW:CASTLEWALL Tsb (!,Tsb,Xu*,Xo*) Tsb castle/encampment/tall-keep}

## Custom terrain for 08_order.cfg
#
# Tsv = swirling void
# Tsva = swirling void with bright lightning

[terrain_type]
    symbol_image=interior/stone-ancient
    icon_image=interior/stone-ancient
    id=oerb_void
    name= _ "Void"
    editor_name= _ "Void"
    string=Tsv
    aliasof=Ias
    mvt_alias=Ias
    recruit_from=no
    recruit_onto=no
    editor_group=OERB
[/terrain_type]

{NEW:BASE Tsv interior/stone-ancient LAYER=-2}
{NEW:OVERLAY Tsv cloud-dark ANIM=[1~3] TIME=120}

[terrain_type]
    symbol_image=interior/stone-ancient
    icon_image=interior/stone-ancient
    id=oerb_void_active
    name= _ "Void"
    editor_name= _ "Void"
    string=Tsva
    aliasof=Ias
    mvt_alias=Ias
    recruit_from=no
    recruit_onto=no
    editor_group=OERB
[/terrain_type]

{NEW:BASE Tsva interior/stone-ancient LAYER=-2}
{NEW:OVERLAY Tsva cloud-dark-attack-staff- ANIM=[1~2] TIME=120}
